@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Press+Start+2P&family=Roboto:ital@1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .animate-fade-in {
    animation: fade-in 500ms ease-in-out;
  }